<html ng-app='app3'>
	<body ng-controller="mainCtrl">
		<input ng-model='person.name' placeholder="Filter by name.."></input>
		<input ng-model='person.email' placeholder="Filter by email.."></input>
		<div ng-repeat="people in showData | filter: person">
			{{people.name}} ------- {{people.email}}
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
